@page
@model FRMDesktop.Pages.ArticleModel
@{
    ViewData["Title"] = "Tool Step Detail";
}
<script type="text/javascript" src="~/js/toc.js"></script>
<script>
    let pageId = '@Model.PageId';

    app.directive('tocDirective', function($timeout) {
        return {
            restrict: 'A',
            link: function (scope, element, attr) {
                if (scope.$last === true) {
                    $timeout(function () {
                        toc.init();
                    });
                }
            }
        };
    });

    app.controller("frmHubCtrl", function ($scope, $http, $interval) {
        // Keep the notifications up-to-date
        $scope.notifictionURL = '/api/Notification/GetNotifiationCount?user=' + document.getElementById('current-user').innerHTML;
        $scope.readNotifications = function() {
            $http.get($scope.notifictionURL).
            then(function(response) {
                $scope.notificationCount = response.data;
            });
        }
        $scope.readNotifications();
        $interval(function () {
            $scope.readNotifications();
        }, 20000);

        // ===== Start Main Execution =====
        $scope.page = {};
        $scope.sections = [];
        $http.get('/api/Page/Page?guid=' + pageId).
        then(function(response) {
            $scope.page = response.data;
            $http.get('/api/Page/PageSections?id=' + $scope.page.id).
            then(function(response) {
                $scope.sections = response.data;
            });
        });
        // ===== End Main Execution =====

    });
</script>
<div class="info-article-layout">

    <sidebar class="info-article-layout-sidebar">
        <h2>{{page.title}}</h2>
        <h2 id="summary">Synopsis</h2>
        <p>{{page.summary}}</p>
        <h2>Contents</h2>
        <ol class="info-article-layout-toc"></ol>
    </sidebar>

    <div class="info-article-layout-content">
        <h1>{{page.title}} <span class="label label-draft">Draft</span></h1>
        <div ng-repeat="sec in sections" toc-directive>
            <h2 id="body">{{sec.title}}</h2>
            <p ng-bind-html="sec.body"></p>
        </div>
    </div>
</div>
