@page
@model IndexModel
@{
    ViewData["Title"] = "FRM Hub";
}

<div ng-app="frmHubApp">
    <script type="text/javascript">
        const app = angular.module("frmHubApp", ['ngSanitize']);

        app.config(function($locationProvider,$interpolateProvider){
            $locationProvider.html5Mode({
                    enabled:true
            });
        });
    
        app.controller("frmHubCtrl", function ($scope, $http) {
        });
    </script>
    <div class="container-fluid" ng-controller="frmHubCtrl" role="main">
        <div class="card h-100 mb-4">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" id="iris-list" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" href="#searchtab" role="tab" aria-controls="searchtab"
                           aria-selected="true">Search our Knowledge Base</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#requesttab" role="tab" aria-controls="requesttab" aria-selected="false">Raise
                            a Request</a>
                    </li>
                </ul>
            </div>
            <div class="card-body iris-tabs">
                <h4 class="card-title">Financial Risk Management Hub</h4>
                <h6 class="card-subtitle mb-2">Search for help or find the tools you need for your task
                    raise a support request</h6>
                <div class="tab-content mt-3">
                    <div class="tab-pane active" id="searchtab" role="tabpanel" aria-labelledby="searchtab-tab">
                        <form class="card card-sm">
                            <div class="card-body">
                                <div class="card-title row no-gutters align-items-center">
                                    <div class="col">
                                        <input id="search-input" class="form-control form-control form-control-borderless"
                                               type="search"
                                               placeholder="Search topics or keywords">
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn btn-info" onclick="perfromSearch()">
                                            <i class="fa fa-search"></i> Search
                                        </button>
                                    </div>
                                </div>
                                <div id="iris-chat" class="card-body iris-chat">
                                    <div id="result-list" class="result-list">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="requesttab" role="tabpanel" aria-labelledby="requesttab-tab">
                        <form class="card card-sm">
                            <div class="card-body row no-gutters align-items-center">
                                <div class="col">
                                    <select id="entitytype" class="form-control" ng-model="request.entityType"
                                            ng-options="type as type.name for type in entitytypes track by type.id">
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn btn-info" ng-click="openRequestDialog()">
                                        <i class="fa fa-bell"></i> Raise a Request
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
