@page
@model FRMDesktop.Pages.NotificationsModel
@{
    ViewData["Title"] = "My Notifications";
}
<script>
    app.controller("frmHubCtrl", function ($scope, $http, $interval) {
        $scope.notifications = [];
        // Keep the notifications up-to-date
        $scope.notifictionURL = '/api/Home/GetNotifiationCount?user=' + document.getElementById('current-user').innerHTML;
        $scope.readNotifications = function() {
            $http.get($scope.notifictionURL).
            then(function(response) {
                $scope.notificationCount = response.data;
                $http.get('/api/Home/GetNotifiations?user=' + document.getElementById('current-user').innerHTML).
                then(function(response) {
                    $scope.notifications = response.data;
                    $scope.notifications.forEach(element => {
                        let createdOn = new Date(element.createdOn)
                        element.fromString = "From: <B>" + element.sender + "</B> at <I>"
                            + createdOn.toLocaleTimeString() + " on " 
                            + createdOn.toLocaleDateString() + "</I>";
                    });
                });
            });
        }
        $scope.readNotifications();
        $interval(function () {
            $scope.readNotifications();
        }, 20000);

        $scope.processNotification = function(item)
        {
            let request_object = angular.toJson(item);
            $http({
                method: "PUT",
                url: '/api/Home/ProcessNotifiation',
                data: request_object,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function successCallback(response)
                {
                    $scope.readNotifications();
                }, function errorCallback(response)
                {
                    _error(response)
                })
        };

        // Alert types
        // alert-primary, alert-secondary, alert-success, alert-danger, alert-warning, alert-info, alert-light, alert-dark
    });
</script>
<div role="main" class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>My Notifications</h4>
        </div>
    </div>
    <hr />
    <div ng-repeat="notification in notifications ">
        <div class="alert" ng-class="notification.type">
            <table style="width: 100%">
            <tr>
                <td style="width:5%"><i class="fa fa-xl" ng-class="notification.icon"></i></td>
                <td style="width:60%">
                    <div ng-if="notification.url.trim().length == 0" ng-bind-html="notification.message">
                        message
                    </div>
                    <div ng-if="notification.url.trim().length != 0">
                        <a ng-href="{{notification.url}}"  ng-bind-html="notification.message">link</a>
                    </div>
                </td>
                <td style="width:25%">
                    <div ng-bind-html="notification.fromString">
                        message
                    </div>
                </td>
                <td style="width:10%">
                    <button class="btn btn-primary dismiss-notification" ng-click="processNotification(notification)" style="float: right;">Dismiss</button>
                </td>
            </tr>
            </table>
        </div>
    </div>
</div>
