@page
@model FRMDesktop.Pages.PageEditorModel
@{
    ViewData["Title"] = "Tool Step Detail";
}
<script>
    let pageId = '@Model.PageId';

    app.controller("frmHubCtrl", function ($scope, $http, $interval) {
        // Keep the notifications up-to-date
        $scope.notifictionURL = '/api/Home/GetNotifiationCount?user=' + document.getElementById('current-user').innerHTML;
        $scope.readNotifications = function() {
            $http.get($scope.notifictionURL).
            then(function(response) {
                $scope.notificationCount = response.data;
            });
        }
        $scope.readNotifications();
        $interval(function () {
            $scope.readNotifications();
        }, 20000);

        $scope.page = {};
        $scope.sections = [];

        hideAlerts();

        $http.get('/api/Page/Page?guid=' + pageId).
        then(function(response) {
            $scope.page = response.data;
            $http.get('/api/Page/PageSections?id=' + $scope.page.id).
            then(function(response) {
                $scope.sections = response.data;
                let first = true;
                $scope.sections.forEach(element => {
                    if (first) {
                        element.isActive = 'active';
                        first = false;
                    }
                    else {
                        element.isActive = '';
                    }
                });
            });
        });

        $scope.new = function(event)
        {
            $http.get('/api/Page/Page?guid=new').
            then(function(response) {
                $scope.page = response.data;
                $scope.sections = [];
            });
        };

        $scope.newSection = function(event)
        {
            $http.get('/api/Page/NewSection?id=' + $scope.page.id).
            then(function(response) {
                $scope.sections.push(response.data);
            });
        };

        $scope.update = function(event)
        {
            let method = "PUT";

            if ($scope.page.id == 0) {
                method = "POST";
            }

            let request_object = angular.toJson($scope.page);
            $http({
                method: method,
                url: '/api/Page/Page',
                data: request_object,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function successCallback(response)
                {
                    $scope.page = response.data;
                    $scope.sections.forEach(function(section) {
                        $scope.updateSection(section);
                    });
                    _success(response.data);
                }, function errorCallback(response)
                {
                    _error(response)
                })
        };

        $scope.updateSection = function(section)
        {
            let method = "PUT";
            
            section.hubPageId = $scope.page.id;

            if (section.id == 0) {
                method = "POST";
            }

            let request_object = angular.toJson(section);
            $http({
                method: method,
                url: '/api/Page/PageSection',
                data: request_object,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function successCallback(response)
                {
                    section = response.data;
                }, function errorCallback(response)
                {
                    _error(response)
                })
        };

    });
</script>
<div role="main" class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Page Editor</h4>
        </div>
    </div>
    <div class="row">
    <hr />
        <div class="col">
            <h5 class="card-title">Page Body</h5>
        </div>
    <hr />
    </div>
    <div class="row">
        <div class="col">
            <label for="page-title">
                <i class="fa fa-code fa-fw"></i>
                Page Title
            </label>
            <div class="input-group mb-3">
                <input id="page-title" type="text" class="form-control" ng-model="page.title">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="page-headline">
                <i class="fa fa-sitemap fa-fw"></i>
                Headline
            </label>
            <div class="input-group mb-3">
                <input id="page-headline" type="text" class="form-control" ng-model="page.headline">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label for="page-image">
                <i class="fa fa-code fa-fw"></i>
                Image
            </label>
            <div class="input-group mb-3">
                <input id="page-image" type="text" class="form-control" ng-model="page.image">
            </div>
        </div>
        <div class="col-6">
            <label for="page-url">
                <i class="fa fa-sitemap fa-fw"></i>
                URL
            </label>
            <div class="input-group mb-3">
                <input id="page-url" type="text" class="form-control" ng-model="page.url">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="page-summary">
                <i class="fa fa-sitemap fa-fw"></i>
                Summary
            </label>
            <div class="input-group mb-3">
                <textarea id="page-summary" style="overflow: scroll;" class="form-control"
                            ng-model="page.summary" rows="2" maxlength="2047">
                </textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="page-summary">
                <i class="fa fa-sitemap fa-fw"></i>
                Body
            </label>
            <div class="input-group mb-3">
                <textarea id="page-summary" style="overflow: scroll;" class="form-control"
                            ng-model="page.body" rows="4" maxlength="4096">
                </textarea>
            </div>
        </div>
    </div>
    <div class="row">
    <hr />
        <div class="col">
            <h5 class="card-title">Page Sections</h5>
        </div>
    <hr />
    </div>
    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" ng-repeat="section in sections" role="presentation">
                <button class="nav-link" id="pills-home-tab" ng-attr-data-bs-target="#tab-id-{{section.id}}" ng-class="section.isActive" type="button" data-bs-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">{{section.title}}</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show" ng-repeat="section in sections" ng-attr-id="tab-id-{{section.id}}" ng-class="section.isActive" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <label for="page-title">
                            <i class="fa fa-code fa-fw"></i>
                            Section Title
                        </label>
                        <div class="input-group mb-3">
                            <input id="page-title" type="text" class="form-control" ng-model="section.title">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="page-headline">
                            <i class="fa fa-sitemap fa-fw"></i>
                            Section Headline
                        </label>
                        <div class="input-group mb-3">
                            <input id="page-headline" type="text" class="form-control" ng-model="section.headline">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="page-image">
                            <i class="fa fa-code fa-fw"></i>
                            Section Image
                        </label>
                        <div class="input-group mb-3">
                            <input id="page-image" type="text" class="form-control" ng-model="section.image">
                        </div>
                    </div>
                    <div class="col-6">
                        <label for="page-url">
                            <i class="fa fa-sitemap fa-fw"></i>
                            Section URL
                        </label>
                        <div class="input-group mb-3">
                            <input id="page-url" type="text" class="form-control" ng-model="section.url">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="page-summary">
                            <i class="fa fa-sitemap fa-fw"></i>
                            Section Summary
                        </label>
                        <div class="input-group mb-3">
                            <textarea id="page-summary" style="overflow: scroll;" class="form-control"
                                        ng-model="section.summary" rows="2" maxlength="2047">
                            </textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="page-summary">
                            <i class="fa fa-sitemap fa-fw"></i>
                            Section Body
                        </label>
                        <div class="input-group mb-3">
                            <textarea id="page-summary" style="overflow: scroll;" class="form-control"
                                        ng-model="section.body" rows="4" maxlength="4096">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button id="saveButton" ng-click="update($event)" class="btn btn-info">
                Save
            </button>
            <button id="newButton" ng-click="newSection($event)" class="btn btn-info">
                New Section
            </button>
            <button id="newButton" ng-click="new($event)" class="btn btn-info">
                New Page
            </button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col">
            <div class="alert alert-success" id="success-alert">
                <strong>Success!</strong> step is updated.
            </div>
            <div class="alert alert-warning" id="error-alert">
                <strong>Warning!</strong> Changes were not saved.
            </div>
        </div>
    </div>
</div>

