@page
@model FRMDesktop.Pages.SearchItemsModel
@{
    ViewData["Title"] = "Search Items";
}
<style>
table
{
    border-collapse: collapse;
    width: 100%;
}
td
{
    text-align: left;
    padding: 8px;
    color: black;
}
tr:nth-child(even){background-color: Snow;}
th
{
    padding: 8px;
    text-align: left;
    background-color: DodgerBlue;
    color: white;
}
</style>
<script>
    app.controller("frmHubCtrl", function ($scope, $http, $interval) {
        $scope.notifictionURL = '/api/Home/GetNotifiationCount?user=' + document.getElementById('current-user').innerHTML;
        $scope.readNotifications = function() {
            $http.get($scope.notifictionURL).
            then(function(response) {
                $scope.notificationCount = response.data;
            });
        }
        $scope.readNotifications();
        $interval(function () {
            $scope.readNotifications();
        }, 20000);

        $scope.readItems = function()
        {
            $scope.itemtable = $('#thesearchitems')
                .DataTable({
                    "processing": true,
                    "data": $scope.items,
                    "columns": [{
                        "data": "id",
                        "render": function(data,
                            type, row, meta) {
                            if (type === 'display') {
                                data = '<button class="btn btn-secondary" data-id="' + data + '"onclick="angular.element(this).scope().editItem(' + data + ')">Edit</button>';
                            }
                            return data;
                        }
                    }, {
                        "data": "domain",
                        "width": "15%"
                    }, {
                        "data": "title"
                    }, {
                        "data": "targetType",
                        "render": function(data,
                            type, row, meta) {
                            if (type === 'display') {
                                data = '<label class="label label-' + data.toLowerCase() + '">' + data + '</label>';
                            }
                            return data;
                        }
                    }, {
                        "data": "target"
                    }]
                })
        };

        $scope.refreshItems = function(refreshTable)
        {
            $http.get('/api/Home/AllSearchItems').
            then(function(response) {
                $scope.items = response.data;
                $scope.selectedItem = {}
                if (refreshTable) {
                    $scope.itemtable.clear().rows.add($scope.items).draw();
                }
                else {
                    $scope.readItems();
                }
            });
        }

        // ===== Start Main Execution =====
        hideAlerts();

        $scope.selectedItem = {};
        $scope.items = [];

        $scope.refreshItems(false);
        // ===== End Main Execution =====

        $scope.new = function() {
            $scope.selectedItem = {}
            $("#search-item-dialog").modal("show");
        }

        $scope.editItem = function(id) {
            $scope.selectedItem = $scope.items.find(element => element.id == id);
            // Needed as the function call is not tracked my angularjs
            $scope.$apply();
            $("#search-item-dialog").modal("show");
        }

        $scope.hideDialog = function()
        {
            $('#search-item-dialog').modal('hide');
        }

        $scope.saveItem = function()
        {
            let method = "PUT";
            if ($scope.selectedItem .id == 0) {
                method = "POST";
            }

            let request_object = angular.toJson($scope.selectedItem );
            $http({
                method: method,
                url: '/api/Home/SearchItem',
                data: request_object,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function successCallback(response)
                {
                    $scope.selectedItem = response.data;
                    $scope.hideDialog()
                }, function errorCallback(response)
                {
                    _error(response)
                })
        };
    });
</script>
<div role="main" class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>The Search Items</h4>
        </div>
    </div>
    <div class="row">
        <div class="col" style="padding-top: 30px; padding-bottom: 30px;">
            <table class="display compact" id="thesearchitems" style="width:100%; padding-top: 10px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Domain</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Target</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="newButton" ng-click="new()" class="btn btn-info">
                New
            </button>
            <button id="reloadButton" ng-click="refreshItems(true)" class="btn btn-info">
                Reload
            </button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col">
            <div class="alert alert-success" id="success-alert">
                <strong>Success!</strong> step is updated.
            </div>
            <div class="alert alert-warning" id="error-alert">
                <strong>Warning!</strong> Changes were not saved.
            </div>
        </div>
    </div>
    <div id="search-item-dialog" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Search Item Detial</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row form-group">
                            <div class="col form-group">
                                <label for="selectedItem.title">Title:</label>
                                <input id="selectedItem.title" ng-model="selectedItem.title" type="text" class="form-control"
                                       required>
                            </div>
                            <div class="col form-group">
                                <label for="selectedItem.image">Image:</label>
                                <input id="selectedItem.image" ng-model="selectedItem.image" type="text"
                                       class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col form-group">
                                <label for="selectedItem.summary">Summary:</label>
                                <input id="selectedItem.image" ng-model="selectedItem.image" type="text"
                                       class="form-control">
                            </div>
                            <div class="col form-group">
                                <label for="costitem.amount">Value:</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{costitem.currency.symbol}}</span>
                                    </div>
                                    <input id="costitem.amount" ng-model="costitem.amount" type="number"
                                           class="form-control" placeholder="Value">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col form-group">
                                <label for="costitem.invoiceDate">Invoice Date:</label>
                                <input id="costitem.invoiceDate" ng-model="costitem.invoiceDate" type="date"
                                       class="form-control">
                            </div>
                            <div class="col form-group">
                                <label for="costitem.costType">Type</label>
                                <select ng-init="costitem.costType = costtypes[0]" class="form-control"
                                        id="costitem.costType" ng-model="selectedItem.keywords"
                                        ng-options="costtype as costtype.name for costtype in costtypes track by costtype.id">
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col form-group">
                                <label for="selectedItem.summary">Summary:</label>
                                <input id="selectedItem.summary" ng-model="selectedItem.summary" type="text"
                                       class="form-control" maxlength="90">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col form-group">
                                <label for="selectedItem.keywords">Keywords:</label>
                                <textarea id="selectedItem.keywords" ng-model="selectedItem.keywords" class="form-control"
                                          rows="2"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button aria-label="Left Align" class="btn btn-secondary" ng-click="hideDialog()" data-dismiss="modal" type="button">
                        <i class="fa fa-trash"></i> Cancel
                    </button>
                    <button aria-label="Left Align" class="btn btn-primary" ng-click="saveItem()" type="submit">
                        <i class="fa fa-hand-point-right"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
