@page
@model FRMDesktop.Pages.TilesModel
@{
}
@{
    ViewData["Title"] = "Tool Step Detail";
}
<script>
    let pageId = '@Model.PageId';

    app.controller("frmHubCtrl", function ($scope, $http, $interval) {
        // Keep the notifications up-to-date
        $scope.notifictionURL = '/api/Home/GetNotifiationCount?user=' + document.getElementById('current-user').innerHTML;
        $scope.readNotifications = function() {
            $http.get($scope.notifictionURL).
            then(function(response) {
                $scope.notificationCount = response.data;
            });
        }
        $scope.readNotifications();
        $interval(function () {
            $scope.readNotifications();
        }, 20000);

        // ===== Start Main Execution =====
        $scope.page = {};
        $scope.sections = [];
        $http.get('/api/Page/Page?guid=' + pageId).
        then(function(response) {
            $scope.page = response.data;
            $http.get('/api/Page/PageSections?id=' + $scope.page.id).
            then(function(response) {
                $scope.sections = response.data;
            });
        });
        // ===== End Main Execution =====

    });
</script>
<div class="frm-contents-layout">
    <h1>{{page.title}}</h1>
    <h4>{{page.summary}}</h4>
    <div class="frm-contents-layout-content">
        <ul class="frm-contents-layout-tile-list">
            <li class="summary" ng-repeat="sec in sections">
                <a href="#" ng-attr-target="{{(sec.newtab) ? '_blank' : undefined}}">
                    <div class="frm-contents-layout-tile-image-container">
                        <img ng-src="{{sec.image}}" alt="">
                    </div>
                    <h3 ng-bind-html="sec.title"></h3>
                    <p ng-bind-html="sec.summary"></p>
                </a>
            </li>
        </ul>
    </div>
</div>


