@page
@model ToolStepDetailModel
@{
    ViewData["Title"] = "Tool Step Detail";
}
<script>
    let stepId = @Model.ItemId;
    let serverRoot = '@Model.ServerRoot';

    app.controller("frmHubCtrl", function ($scope, $http, $interval) {
        // Keep the notifications up-to-date
        $scope.notifictionURL = '/api/Home/GetNotifiationCount?user=' + document.getElementById('current-user').innerHTML;
        $scope.readNotifications = function() {
            $http.get($scope.notifictionURL).
            then(function(response) {
                $scope.notificationCount = response.data;
            });
        }
        $scope.readNotifications();
        $interval(function () {
            $scope.readNotifications();
        }, 20000);

        $scope.step = { };

        hideAlerts();

        $http.get('/api/ToolOperations/ToolStep?id=' + stepId).
        then(function(response) {
            $scope.step = response.data;
        });

        $scope.new = function(event)
        {
            $http.get('/api/ToolOperations/ToolStep?id=-1').
            then(function(response) {
                $scope.step = response.data;
            });
        };

        $scope.update = function(event)
        {
            let method = "PUT";

            if ($scope.step.id == 0) {
                method = "POST";
            }

            let request_object = angular.toJson($scope.step);
            $http({
                method: method,
                url: '/api/ToolOperations/ToolStep',
                data: request_object,
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(function successCallback(response)
                {
                    $scope.step = response.data;
                    _success(response.data);
                }, function errorCallback(response)
                {
                    _error(response)
                })
        };

        $scope.exec = function(event)
        {
            $("#reslts-dialog").modal("show");
            //$http.get(serverRoot + 'ToolStepOperations?id=').
            //then(function(response) {
            //    $scope.step.resultOutput = response.data.resultOutput;
            //});
        };
    });
</script>
<div role="main" class="container-fluid">
    <div class="row">
        <div class="col">
            <h4>Step Editor</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="thename">
                <i class="fa fa-code fa-fw"></i>
                Name
            </label>
            <div class="input-group mb-3">
                <input id="thename" type="text" class="form-control" ng-model="step.description">
            </div>
        </div>
        <div class="col-8">
            <label for="stepname">
                <i class="fa fa-sitemap fa-fw"></i>
                Message
            </label>
            <div class="input-group mb-3">
                <input id="stepname" type="text" class="form-control" ng-model="step.message">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="prio">
                <i class="fa fa-key fa-fw"></i>
                Dataset Name
            </label>
            <div class="input-group mb-3">
                <input id="prio" type="text" class="form-control" ng-model="step.datasetName">
            </div>
        </div>
        <div class="col-1">
            <label for="description">
                <i class="fa fa-pencil-alt fa-fw"></i>
                Type
            </label>
            <div class="input-group mb-3">
                <input id="description" type="text" class="form-control" ng-model="step.stepType">
            </div>
        </div>
        <div class="col-1">
            <label for="format">
                <i class="fa fa-key fa-fw"></i>
                Format
            </label>
            <div class="input-group mb-3">
                <input id="format" type="text" class="form-control" ng-model="step.format">
            </div>
        </div>
        <div class="col">
            <label for="input">
                <i class="fa fa-key fa-fw"></i>
                Fail on Exit
            </label>
            <div class="form-check form-switch">
                <input id="input" class="form-check-input" type="checkbox" ng-model="step.failOnExit">
            </div>
        </div>
        <div class="col">
            <label for="input">
                <i class="fa fa-key fa-fw"></i>
                Has Input
            </label>
            <div class="form-check form-switch">
                <input id="input" class="form-check-input" type="checkbox" ng-model="step.hasInput">
            </div>
        </div>
        <div class="col">
            <label for="output">
                <i class="fa fa-key fa-fw"></i>
                Has Output
            </label>
            <div class="form-check form-switch">
                <input id="output" class="form-check-input" type="checkbox" ng-model="step.hasOutput">
            </div>
        </div>
        <div class="col">
            <label class="form-check-label" for="in-memory"><i class="fa fa-key fa-fw"></i>In Memory</label>
            <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="in-memory" ng-model="step.inMemory">
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-target="#tab-id-code" type="button" data-bs-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Step Defintion</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-home-tab" data-bs-target="#tab-id-test-object" type="button" data-bs-toggle="pill" role="tab" aria-controls="pills-home" aria-selected="true">Test Object</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="tab-id-code" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <label for="body">
                            <i class="fa fa-file-code fa-fw"></i>
                            Step Defintion
                        </label>
                        <div class="input-group mb-3">
                            <textarea id="body" style="font-family: monospace; overflow: scroll;" class="form-control"
                                        ng-model="step.definition" rows="16" maxlength="4096">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab-id-test-object" role="tabpanel">
                <div class="row">
                    <div class="col">
                        <label for="test-object">
                            <i class="fa fa-file-code fa-fw"></i>
                            Test Object
                        </label>
                        <div class="input-group mb-3">
                            <textarea id="test-object" style="font-family: monospace; overflow: scroll;" class="form-control"
                                        ng-model="step.testObject" rows="16" maxlength="4096">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button id="saveButton" ng-click="update($event)" class="btn btn-info">
                Save
            </button>
            <button id="executeButton" ng-click="exec($event)" class="btn btn-info">
                Execute
            </button>
            <button id="newButton" ng-click="new($event)" class="btn btn-info">
                New
            </button>
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col">
            <div class="alert alert-success" id="success-alert">
                <strong>Success!</strong> step is updated.
            </div>
            <div class="alert alert-warning" id="error-alert">
                <strong>Warning!</strong> Changes were not saved.
            </div>
        </div>
    </div>
    <div id="reslts-dialog" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-terminal fa-fw"></i>Results</h5>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <textarea id="output" class="form-control" ng-model="step.resultOutput" rows="20" readonly>
                        </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

