html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.frm-search {
    padding: 0px 10px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid #6495ED;
    width: 80%
}

.frm-search:focus {
    outline: none !important;
    border: 4px solid #6495ED;
    box-shadow: 0 0 7px #719ECE;
}

.search-result {
    display: flex !important;
    border-radius: 15px;
    margin: 5px;
    height: 100%;
}

.search-result h3 {
    margin-bottom: 0;
    color: #1E0FBE;
}

.search-pill {
    position: absolute;
    bottom: 0;
}

.search-text {
    position: relative;
    flex: 2;
}
.search-result .search-link {
    color: #006621;
}

.search-result p {
    margin-top: 5px;
}

.search-results-image-container {
    flex: 1;
}

.search-results-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 3px 3px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 3px 3px rgba(34, 25, 25, 0.4);
}
.search-results-include {
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.search-results-include-content {
    box-sizing: border-box;
    max-width: 1280px;
    padding: 32px 0 48px 32px;
}

.search-results-include-close-button {
    float: right;
    display: block;
    background-image: url("/images/icons/close_64x64.png");
    background-size: contain;
    width: 24px;
    height: 24px;
}

.search-results-include-content h2 {
    padding: 0;
    margin: 0 0 16px 0;
}

.search-results-include-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    margin: 0;
}

.search-results-include-grid > div {
    display: block;
    padding: 16px;
    background-color: white;
    border-right: solid 1px rgb(241, 241, 241);
    border-bottom: solid 1px rgb(241, 241, 241);
}

.search-results-include-grid > div:nth-child(1), .search-results-include-grid > div:nth-child(2), .search-results-include-grid > div:nth-child(3) {
    border-top: solid 1px rgb(241, 241, 241);
}

.search-results-include-grid > div:nth-child(3n+1) {
    border-left: solid 1px rgb(241, 241, 241);
}

.search-results-include-grid h3 {
    padding: 0;
    margin: 0 0 6px 0;
}

.search-results-include-grid-item-summary {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.is-hidden {
    display: none !important;
    visibility: hidden;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.label {
    display: inline-block;
    font-size: 0.7rem;
    padding: 1px 6px;
    margin-right: 12px;
    background-color: #BEBEBE;
    color: white;
    border-radius: 2px;
}

.inline-label {
    display: inline-block;
    padding: 1px 6px;
    margin-right: 12px;
    background-color: #BEBEBE;
    color: white;
    border-radius: 2px;
}

.label-faq {
    background-color: #6A7D39;
}

.label-page {
    background-color: forestgreen;
}

.label-paper {
    background-color: #585148;
}

.label-technology {
    background-color: #D7C2AA;
}

.label-dashboard {
    background-color: #A36650;
}

.label-chart {
    background-color: #BEBEBE;
}

.label-dataset {
    background-color: #9A3D37;
}

.label-site {
    background-color: #F1E4BA;
    color: darkblue;
}

.label-red {
    background-color: #9A3D37;
}

.label-amber {
    background-color: #F2BB3A;
}

.label-green {
    background-color: #6A7D39;
}

.label-done {
    background-color: #5A6F89;
}

.label-scheduled {
    background-color: #F2BB3A;
}

.label-completed {
    background-color: #6A7D39;
}

.label-cancelled {
    background-color: #9A3D37;
}

.label-postponed {
    background-color: #9C9C9C;
}

.label-incomplete {
    background-color: #9A3D37;
}

.label-open {
    background-color: #F2BB3A;
}

.label-closed {
    background-color: #6A7D39;
}

.label-Jan {
    background-color: #F2BB3A;
}

.label-Feb {
    background-color: #F2BB3A;
}

.label-Mar {
    background-color: #F2BB3A;
}

.label-Apr {
    background-color: #F2BB3A;
}

.label-May {
    background-color: #F2BB3A;
}

.label-Jun {
    background-color: #F1DCA4;
}

.label-Jul {
    background-color: #F1DCA4;
}

.label-Aug {
    background-color: #F1DCA4;
}

.label-Sep {
    background-color: #F1DCA4;
}

.label-Oct {
    background-color: #F1DCA4;
}

.label-Nov {
    background-color: #F1DCA4;
}

.label-Dec {
    background-color: #F1DCA4;
}

.frm-contents-layout {
    padding: 32px 0 32px 32px;
    max-width: 1320px;
    box-sizing: border-box;
}

.frm-contents-layout-header {
    border-bottom: solid 1px rgb(241, 241, 241);
}

.frm-contents-layout-header-text {
    box-sizing: border-box;
    display: block;
    background-color: white;
    width: 320px;
    height: 176px;
    padding: 32px;
    font-size: 0.9rem;
}

.frm-contents-layout-header-text hi {
    font-size: 1.4rem;
    margin: 0;
}

.frm-contents-layout-header-image {
    float: right;
    display: block;
    overflow: hidden;
    background-color: rgb(204, 204, 204);
    width: 960px;
    height: 176px;
}

.frm-contents-layout-header-image > img {
    width: 960px;
    margin-top: -96px;
}

.frm-contents-layout-sidebar {
    float: right;
    box-sizing: border-box;
    width: 340px;
    margin: 0;
    padding: 16px 16px 16px 16px;
}

.frm-contents-layout-sidebar h2 {
    font-size: 0.9rem;
    color: rgb(100, 100, 100);
    padding: 0 0 10px 0;
    margin: 6px 0 0 0;
    border-bottom: solid 1px rgb(204, 204, 204);
}

.frm-contents-layout-sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.frm-contents-layout-sidebar > ul > li {
    font-weight: bold;
    font-size: 1rem;
}

.frm-contents-layout-sidebar > ul > li > ul > li {
    font-weight: normal;
    font-size: 0.9rem;
}

.frm-contents-layout-sidebar ul > li > ul {
    padding: 0 22px;
}

.frm-contents-layout-sidebar li a {
    display: block;
    padding: 8px 0;
    color: rgb(28, 28, 28);
}

.frm-contents-layout-sidebar li a:hover {
    background-color: rgb(241, 241, 241);
}

.frm-contents-layout-sidebar li > ul > li > a {
    color: rgb(68, 68, 68);
    padding: 8px 6px;
}

.frm-contents-layout-sidebar img {
    width: 16px;
    height: 16px;
    margin: 4px;
}

.frm-contents-layout-sidebar-panel {
    padding-bottom: 8px;
}

.frm-contents-layout-latest-updates {
    box-sizing: border-box;
    width: 310px;
    padding: 12px;
}

.frm-contents-layout-latest-updates time {
    font-size: 0.7rem;
    display: block;
}

.frm-contents-layout-latest-updates ul {
    list-style: none;
    padding: 0;
}

.frm-contents-layout-latest-updates a {
    display: block;
    margin-bottom: 8px;
}

.frm-contents-layout-header-text h1 {
    display: inline-block;
    font-family: FrutigerLight;
    font-weight: normal;
    line-height: 24px;
    margin-left: 24px;
    margin-top: 6px;
    vertical-align: top;
}

.frm-contents-layout-filter {
    position: relative;
    max-width: 960px;
    margin-left: 320px;
    padding: 24px 0;
}

.frm-contents-layout-filter input {
    width: 100%;
    height: 48px;
    padding: 8px 12px 3px 40px;
    border: solid 1px rgb(204, 204, 204);
}

.frm-contents-layout-filter img {
    position: absolute;
    top: 40px;
    left: 12px;
    width: 16px;
    height: 16px;
}

.frm-contents-layout-content {
    max-width: 1320px;
}

.frm-contents-layout-tile-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.frm-contents-layout-tile-image-container {
    display: block;
    height: 146px;
    overflow: hidden;
}

.frm-contents-layout-tile-list > li {
    display: inline-block;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    width: 300px;
    height: 210px;
    margin: 0 12px 12px 0;
}

.frm-contents-layout-tile-list > .summary {
    display: inline-block;
    overflow: hidden;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    background-color: white;
    width: 300px;
    height: 300px;
    margin: 0 12px 12px 0;
}

.frm-contents-layout-tile-list > li > a {
    display: block;
    padding: 12px;
    height: 100%;
    color: rgb(28, 28, 28);
    text-decoration: none !important;
}

.frm-contents-layout-tile-list > li > a:hover {
    background-color: rgb(241, 241, 241);
}

.frm-contents-layout-tile-list > li img {
    width: 100%;
}

.frm-contents-layout-tile-list > li h3 {
    font-size: 1.2rem;
    color: darkblue;
    margin: 12px 0 8px 0;
}

.frm-contents-layout-tile-list > li p {
    font-size: 0.9em;
    margin: 0 0 8px 0;
}
