html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.frm-search {
    padding: 0px 10px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    border: 3px solid #6495ED;
    width: 80%
}

.frm-search:focus {
    outline: none !important;
    border: 4px solid #6495ED;
    box-shadow: 0 0 7px #719ECE;
}

.search-result {
    border-radius: 15px;
}

.search-result h3 {
    margin-bottom: 0;
    color: #1E0FBE;
}

.search-result .search-link {
    color: #006621;
}

.search-result p {
    margin-top: 5px;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.search-results-include {
    background-color: rgb(251, 251, 251);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.search-results-include-content {
    box-sizing: border-box;
    max-width: 1280px;
    padding: 32px 0 48px 32px;
}

.search-results-include-close-button {
    float: right;
    display: block;
    background-image: url("/images/icons/close_64x64.png");
    background-size: contain;
    width: 24px;
    height: 24px;
}

.search-results-include-content h2 {
    padding: 0;
    margin: 0 0 16px 0;
}

.search-results-include-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    margin: 0;
}

    .search-results-include-grid > div {
        display: block;
        padding: 16px;
        background-color: white;
        border-right: solid 1px rgb(241, 241, 241);
        border-bottom: solid 1px rgb(241, 241, 241);
    }

        .search-results-include-grid > div:nth-child(1), .search-results-include-grid > div:nth-child(2), .search-results-include-grid > div:nth-child(3) {
            border-top: solid 1px rgb(241, 241, 241);
        }

        .search-results-include-grid > div:nth-child(3n+1) {
            border-left: solid 1px rgb(241, 241, 241);
        }

    .search-results-include-grid h3 {
        padding: 0;
        margin: 0 0 6px 0;
    }

.search-results-include-grid-item-summary {
    font-size: 0.9rem;
    margin-bottom: 6px;
}

.result-list {
    margin-left: 30px;
    margin-right: 30px;
}

.is-hidden {
    display: none !important;
    visibility: hidden;
}

.label {
    display: inline-block;
    font-size: 0.7rem;
    padding: 1px 6px;
    margin-right: 12px;
    background-color: #BEBEBE;
    color: white;
    border-radius: 2px;
}

.inline-label {
    display: inline-block;
    padding: 1px 6px;
    margin-right: 12px;
    background-color: #BEBEBE;
    color: white;
    border-radius: 2px;
}

.label-faq {
    background-color: #6A7D39;
}

.label-page {
    background-color: #919191;
}

.label-paper {
    background-color: #585148;
}

.label-technology {
    background-color: #D7C2AA;
}

.label-dashboard {
    background-color: #A36650;
}

.label-chart {
    background-color: #BEBEBE;
}

.label-dataset {
    background-color: #9A3D37;
}

.label-index {
    background-color: #F1E4BA;
}

.label-red {
    background-color: #9A3D37;
}

.label-amber {
    background-color: #F2BB3A;
}

.label-green {
    background-color: #6A7D39;
}

.label-done {
    background-color: #5A6F89;
}

.label-scheduled {
    background-color: #F2BB3A;
}

.label-completed {
    background-color: #6A7D39;
}

.label-cancelled {
    background-color: #9A3D37;
}

.label-postponed {
    background-color: #9C9C9C;
}

.label-incomplete {
    background-color: #9A3D37;
}

.label-open {
    background-color: #F2BB3A;
}

.label-closed {
    background-color: #6A7D39;
}

.label-Jan {
    background-color: #F2BB3A;
}

.label-Feb {
    background-color: #F2BB3A;
}

.label-Mar {
    background-color: #F2BB3A;
}

.label-Apr {
    background-color: #F2BB3A;
}

.label-May {
    background-color: #F2BB3A;
}

.label-Jun {
    background-color: #F1DCA4;
}

.label-Jul {
    background-color: #F1DCA4;
}

.label-Aug {
    background-color: #F1DCA4;
}

.label-Sep {
    background-color: #F1DCA4;
}

.label-Oct {
    background-color: #F1DCA4;
}

.label-Nov {
    background-color: #F1DCA4;
}

.label-Dec {
    background-color: #F1DCA4;
}
